/**
 * @name DarkNeon2
 * @author aidank1888
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor aidank1888
*/

@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --main-color: #00D9FF;
  --hover-color: rgb(0, 255, 64);
  --success-color: #0042FF;
  --danger-color: #FF0000;
  --url-color: #00FFFF;
  --background-image: url('https://i.imgur.com/GUf30cM.gif');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 300%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://preview.redd.it/63m12mc0gz371.jpg?auto=webp&s=3ea6a67e8676a3d4168b1c0a7c9c62c8be245c11');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://preview.redd.it/63m12mc0gz371.jpg?auto=webp&s=3ea6a67e8676a3d4168b1c0a7c9c62c8be245c11');
  --home-position: center;
  --home-size: 53px;
  --channel-unread: rgb(0, 110, 255);
  --channel-color: rgb(0, 217, 255);
  --muted-color: rgb(25, 0, 255);
  --online-color: rgb(0, 217, 255);
  --idle-color: #00FF33;
  --dnd-color: #000DFF;
  --streaming-color: #7B00FF;
  --offline-color: #FFFFFF;
  --main-font: sans-serif;
  --code-font: sans-serif;
  --channels-width: 200px;
  --members-width: 220px;
  --backdrop-overlay: rgba(0, 0, 0, 0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 7px;
  --rs-small-width: 3.5px;
  --rs-medium-width: 3.5px;
  --rs-large-width: 3.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #00F4F4;
  --rs-idle-color: #11FF00;
  --rs-dnd-color: #1900FF;
  --rs-offline-color: #FFFFFF;
  --rs-streaming-color: #8300FF;
  --rs-phone-visible: block;
}

/*Hide the nitro tab in the homepage*/
li.channel-1Shao0:nth-child(3){
display: none;
}
/*Hide the nitro tab in settings*/
.premiumTab-39eQzy{
display:none;
}
/*Hide the nitro ad in the server boost*/
.content-2t8mBc>div:nth-child(11),.tier0Container-3pQqp9,.wrapper-2-Da9H,.subscribeAction-1tjck2{
display:none;
}
/*Hide the nitro ad in the profil tab*/
.premiumFeatureBorder-3vL7bn,.upsellContainer-
TwfTaF,div.customizationSection-IGy2fS:nth-child(5),div.customizationSection-IGy2fS:nth-child(6){
display:none;
}
/*Hide gift button*/
.buttons-uaqb-5->button:nth-child(1)>div:nth-child(1)>div:nth-child(1)>svg:nth-child(1)>
path:nth-child(1){
display:none;
}
/*Hide nitro ad invite*/
div.flex-2S1XBF:nth-child(4){
display:none;
}
